.balance {
  text-align: center;
  width: 100%;
}

.number {
  margin: 0;
  -webkit-app-region: no-drag;
  -webkit-user-select: text;
  font-size: 1rem;
  display: inline-block;
  padding: 0 0.3rem;
  border-radius: 4px;
}

.numberLarge {
  composes: number;
  font-size: 2.5rem;
}

.updated {
  animation: updated 0.5s ease-out;
}

@keyframes updated {
  0% {
    background: rgba(255, 255, 255, 0.2);
  }

  100% {
    background: rgba(255, 255, 255, 0);
  }
}
