.number {
    margin: 0;
    -webkit-app-region: no-drag;
    -webkit-user-select: text;
    font-size: 1rem;
    display: inline-block;
    padding: 0 .3rem;
    border-radius: 4px;

    :global(.number-unit--main) & {
        font-size: 2.5rem;
    }
}

.updated {
    animation: updated .5s ease-out;
}

@keyframes updated {
    0% {
        background: rgba(255, 255, 255, .2);
    }

    100% {
        background: rgba(255, 255, 255, 0);
    }
}
