.ticker {
    margin-top: 3rem;
    margin-bottom: 4rem;
    width: 100%;
}

.ticker .number-unit {
    margin-top: 0;
}

.ticker button {
    background: none;
    border: 1px solid #e2e2e2;
    box-shadow: none;
    margin: 0 auto;
    outline: 0;
    font-size: .75rem;
    border-radius: .3rem;
    padding: .3rem .4rem;
    display: block;
    width: 100%;
    max-width: 12rem;
    transition: border .2s ease-out;
    color: #41474e;
}

.ticker button:disabled {
    pointer-events: none;
}

.dark .ticker button {
    border-color: #303030;
    color: #8b98a9;
}

.label--price {
    font-size: .95rem;
}

.change {
    font-size: .65rem;
    display: inline-block;
    margin-left: .25rem;
}

.change--positive {
    color: forestgreen;
}

.change--negative {
    color: crimson;
}
