:root {
  --color-primary: #f7b737;
  --color-secondary: #725418;
  --color-signal: #049985;
  --border-radius: 0.2rem;
  --font-family-base: -apple-system, blinkmacsystemfont, 'Segoe UI', roboto,
    oxygen-sans, ubuntu, cantarell, 'Helvetica Neue', sans-serif;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
}

body {
  text-rendering: optimizeLegibility;
  font-feature-settings: 'liga', 'kern';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  min-height: 100vh;
  background: var(--color-primary);
  color: var(--color-secondary);
  font-family: var(--font-family-base);
  font-size: 1rem;
  font-weight: 400;
  font-style: normal;
  line-height: 1.6;
}

h1,
h2,
h3,
.button {
  font-family: josefin-sans, sans-serif;
  font-weight: 700;
  font-style: normal;
}

img,
video,
svg {
  max-width: 100%;
  height: auto;
  margin: 0;
}

code {
  background: rgba(255, 255, 255, 0.15);
  padding: 0.1rem 0.3rem;
  border-radius: var(--border-radius);
  display: inline-block;
}

a {
  color: var(--color-signal);
  text-decoration: none;
}

.layout {
  max-width: 35rem;
  margin: auto;
  padding: 1rem;
}

.header {
  margin-bottom: 2rem;
}

.header h1 {
  font-size: 2.5rem;
  margin-bottom: 0.5rem;
  color: var(--color-signal);
}

.header strong {
  font-size: 1.2rem;
}

.screen {
  margin-left: calc(50% - 50vw);
  margin-right: calc(50% - 50vw);
  text-align: center;
}

.screen img {
  display: inline-block;
}

@media (min-width: 60rem) {
  .screen img {
    max-width: 60rem;
  }
}

.button {
  font-size: 1.2rem;
  display: inline-block;
  background: var(--color-signal);
  color: var(--color-primary);
  padding: 1rem;
  margin-bottom: 1rem;
  border-radius: var(--border-radius);
  transition: 0.2s ease-out;
  min-width: 15rem;
}

.button:hover {
  background: var(--color-secondary);
}

.button span {
  font-size: 1rem;
  margin-left: 0.25rem;
  font-family: var(--font-family-base);
  font-weight: 400;
}

.downloads {
  margin-top: 2rem;
  padding: 0;
  text-align: center;
}

.downloads a:not(.button) {
  margin-left: 1rem;
  margin-right: 1rem;
}

.downloads li {
  display: inline;
}

.downloads li:first-child {
  display: block;
}

.release {
  text-align: center;
  font-size: 0.8rem;
}

.footer {
  margin-top: 4rem;
  font-size: 0.8rem;
}

.credit {
  margin-bottom: 1rem;
}

.thanks span {
  display: block;
}

@media (min-width: 40rem) {
  .thanks {
    margin: 0;
    display: flex;
    justify-content: space-between;
  }
}
