.main {
    margin-top: 7vh;
    min-height: 222px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    position: relative;
}

.preferences-link {
    position: absolute;
    right: 5%;
    top: 1.5rem;
}

.preferences-link svg {
    fill: #8b98a9;
    transition: .2s ease-out;
    width: 1.25rem;
    height: 1.25rem;
}

.preferences-link:hover svg {
    fill: #41474e;
}

.dark .preferences-link svg {
    fill: #8b98a9;
    opacity: .5;
}

.dark .preferences-link:hover svg {
    opacity: 1;
}

.number-unit-wrap {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    justify-content: space-around;
    position: relative;
}

.number-unit {
    text-align: center;
    flex: 1 1 20%;
    margin-top: 5%;
    padding-left: 2%;
    padding-right: 2%;
}

.label {
    color: #8b98a9;
    font-size: .85rem;
    display: block;
    white-space: nowrap;
    margin-top: .3rem;
    transition: color .2s ease-out;
}

.number-unit:not(.number-unit--main) .label:not(:disabled):hover {
    color: #f6388a;
}

.number-unit-wrap--accounts {
    min-height: 55px;
}

.number-unit--main {
    padding-bottom: 5%;
    border-bottom: 1px solid #e2e2e2;
}

.dark .number-unit--main {
    border-bottom-color: #303030;
}

.number-unit--main .number {
    font-size: 2.5rem;
}
