.preferences {
  text-align: left;
  width: 100%;
  position: relative;
}

.title {
  width: 100%;
  font-size: 2.2rem;
  margin-top: -1rem;
  margin-bottom: 2rem;
}

.close {
  text-decoration: none;
  font-size: 2rem;
  position: absolute;
  top: 0;
  right: 0;
  color: #8b98a9;
}
