.main {
    width: 100%;
    padding: 5%;
    background: #303030;
    border-radius: 5px;
    border: .1rem solid #41474e;
    min-height: 186px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    position: relative;
}

.number-unit-wrap--accounts {
    min-height: 55px;
}

.number-unit--main {
    padding-bottom: 5%;
    border-bottom: 1px solid #41474e;
}

.number-unit--main .number {
    font-size: 2.5rem;
}

.number-unit--main .label {
    font-size: .95rem;
}
