.actions {
    width: 100%;
    text-align: right;
    position: absolute;
    top: -2rem;
    right: 0;
}

button {
    background: none;
    border: 0;
    box-shadow: none;
    margin: 0;
    outline: 0;
    color: #f6388a;
    font-size: .85rem;
}
