.spinner {
    position: relative;
    text-align: center;
}

.spinner::before {
    content: '';
    box-sizing: border-box;
    position: absolute;
    top: 0;
    left: 50%;
    width: 20px;
    height: 20px;
    margin-top: -20px;
    margin-left: -10px;
    border-radius: 50%;
    border: 2px solid #7b1173;
    border-top-color: #e000cf;
    animation: spinner .6s linear infinite;
}

@keyframes spinner {
    to {
        transform: rotate(360deg);
    }
}
