html,
body {
    margin: 0;
    padding: 0;
    height: 100%;
    background: #141414;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

html {
    font-size: 13px;
}

html.fullscreen {
    font-size: 24px;
}

#root {
    position: relative;
    font-size: 1rem;
    line-height: 1.3;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
        Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
        'Segoe UI Symbol';
    font-feature-settings: 'kern' 1, 'liga' 1, 'calt' 1, 'pnum' 1, 'tnum' 0,
        'onum' 0, 'lnum' 0, 'dlig' 1;
    color: #e2e2e2;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    transform: translate3d(0, 0, 0);
    -webkit-app-region: drag;
    -webkit-user-select: none;
}

.app__content {
    padding: 5% 7%;
    cursor: default;
    height: calc(100vh - 35px);
    transition: .15s ease-out;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
}

.fullscreen .app__content {
    transform: translate3d(0, -36px, 0);
}

.main {
    width: 100%;
    padding: 5%;
    background: #303030;
    border-radius: 5px;
    border: .1rem solid #41474e;
    min-height: 186px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    position: relative;
}

.number-unit-wrap {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    justify-content: space-around;
    position: relative;
}

.number-unit {
    text-align: center;
    flex: 1 1 20%;
    margin-top: 5%;
    padding-left: 2%;
    padding-right: 2%;
}

.number {
    margin: 0;
    transition: .15s ease-out;
    font-weight: 400;
    -webkit-app-region: no-drag;
    -webkit-user-select: auto;
    font-size: 1rem;
    display: inline-block;
    padding: 0 .3rem;
    animation: fadein .5s ease-out forwards;
    border-radius: 4px;
}

.updated {
    animation: updated .5s ease-out forwards;
}

.label {
    color: #8b98a9;
    font-size: .85rem;
    display: block;
    white-space: nowrap;
    margin-top: .3rem;
}

.number-unit-wrap--accounts {
    min-height: 55px;
}

.number-unit--main {
    padding-bottom: 5%;
    border-bottom: 1px solid #41474e;
}

.number-unit--main .number {
    font-size: 2.5rem;
}

@keyframes updated {
    0% {
        background: rgba(255, 255, 255, .2);
    }

    100% {
        background: rgba(255, 255, 255, 0);
    }
}

@keyframes fadein {
    0% {
        opacity: 0;
    }

    50% {
        background: rgba(255, 255, 255, .2);
    }

    100% {
        opacity: 1;
        background: rgba(255, 255, 255, 0);
    }
}
