.app {
  padding: 10% 7% 5% 7%;
  cursor: default;
  transition: 0.15s ease-out;
  width: 100%;
  height: 100%;
  overflow-y: auto;
  position: relative;
}

:global(.darwin) .app {
  padding-top: calc(35px + 10%);
}
